/target/
!.mvn/wrapper/maven-wrapper.jar
/quick-start-test/target
/quick-start-test/target/.project
/quick-start-test/target/.classpath
/quick-start-test/target/.settings

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### Eclipse ###
.settings

# Package Files #
*.jar
*.war
*.ear