/target/
!.mvn/wrapper/maven-wrapper.jar
/spring-boot-api-server/target
/spring-boot-api-server/.project
/spring-boot-api-server/.classpath
/spring-boot-api-server/.settings

/spring-boot-api-services/target
/spring-boot-api-services/.project
/spring-boot-api-services/.classpath
/spring-boot-api-servcies/.settings

/spring-boot-api-test/target
/spring-boot-api-test/.project
/spring-boot-api-test/.classpath
/spring-boot-api-test/.settings

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### Eclipse ###
.settings

# Package Files #
*.jar
*.war
*.ear